---
layout: base.njk
lang: fr
ref: free-value
permalink: /fr/la-valeur-a-la-portee-de-tous/
title: "Le savoir ne prend pas de place"
description: "Je veux transmettre mon savoir sous forme de fenêtre virtuelle, avec beaucoup de gratitude et de vulnérabilité."
---

<section class="panel">
  <div class="container">
    <h1 class="page-title">Le savoir ne prend pas de place</h1>

    <p class="lead">Je veux transmettre mon savoir sous forme de fenêtre virtuelle. Je te présente un espace où j'expose mon expérience, mes valeurs et ma cohérence, avec beaucoup de gratitude et de vulnérabilité. J'espère que tu pourras y voir un acte de courage et que cela pourra t'aider dans ta propre quête de réponses.</p>
  </div>
</section>
