---
layout: base.njk
lang: es
ref: free-value
permalink: /es/valor-al-alcance-de-todos/
title: "El saber no ocupa lugar"
description: "Quiero entregar mi conocimiento en forma de ventana virtual, con gratitud y vulnerabilidad."
---

<section class="panel">
  <div class="container">
    <h1 class="page-title">El saber no ocupa lugar</h1>

    <p class="lead">Quiero entregar mi conocimiento en forma de ventana virtual. Os presento un lugar donde expongo mi experiencia, valores y coherencia con mucha gratitud y vulnerabilidad. Espero puedas verlo como un acto de valentía y pueda servirte en tu propia búsqueda de respuestas.</p>
  </div>
</section>
