---
layout: base.njk
lang: ca
ref: free-value
permalink: /ca/valor-a-labast-de-tothom/
title: "El saber no ocupa lloc"
description: "Vull entregar el meu coneixement en forma de finestra virtual, amb molta gratitud i vulnerabilitat."
---

<section class="panel">
  <div class="container">
    <h1 class="page-title">El saber no ocupa lloc</h1>

    <p class="lead">Vull entregar el meu coneixement en forma de finestra virtual. Us presento un lloc on exposo la meva experiència, els meus valors i la meva coherència amb molta gratitud i vulnerabilitat. Espero que ho puguis veure com un acte de valentia i que et pugui servir en la teva pròpia cerca de respostes.</p>
  </div>
</section>
